{% extends "base.html" %}
{% block content %}

<form class="my-form" action="{% url 'registration:desired_condition_save' %}" method="POST">
{% csrf_token %}
<div>
    <H2>■ 希望条件登録 ■</H2>
</div>
  <div class="form-group">
    <label for="id_skills">スキル</label>
    {{ form.skills }}
    {{ form.skills.errors }}
    <p class="help-block">{{ form.skills.help_text }}</p>
  </div>

  <div class="form-group">
    <label for="id_job_change">転職 or 副業</label>
    {{ form.job_change }}
    {{ form.job_change.errors }}
    <p class="help-block">{{ form.job_change.help_text }}</p>
  </div>

  <div class="form-group">
    <label class="control-label" for="id_monthly_income">希望月収</label>
    {{ form.monthly_income }}円
    {{ form.monthly_income.errors }}
  </div>


  <div class="form-group">
    <label class="control-label" for="id_hourly_wage">希望時給</label>
      {{ form.hourly_wage }}円
      {{ form.hourly_wage.errors }}
      <p class="help-block">{{ form.hourly_wage.help_text }}</p>
  </div>

  <input type="hidden" name="job_seeker" value="{{ user.jobseeker_set.first.id }}">

  <div class="form-group">
    <div>
        <input type="submit" class="btn btn-primary" value="登録">
    </div>
  </div>

</form>
{% endblock content %}
