{% extends "base.html" %}
{% block content %}

<ul>
<div><h2>求職者一覧</h2></div>
<hr>
  {% for item in object_list %}
            <div>
            <p>{{ item.username }}さん</p>
            <p>{{ item.jobseeker_set.first.gender }}</p>
            <p>{{ item.jobseeker_set.first.address }}</p>
            <p>{{ item.jobseeker_set.first.desiredcondition_set.first.skills }}</p>
            <p>{{ item.jobseeker_set.first.desiredcondition_set.first.job_change }}</p>
                <a class="btn btn-primary" href="{% url 'search:job_seekers_detail' item.pk %}" class="card-link">プロフィールを見る</a>
            <hr>
            </div>

  {% endfor %}
</ul>

{% endblock content %}