{% extends "base.html" %}
{% block content %}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">案件{{ offerlist.job_name }}の詳細</h4>
  <p>内容 : {{ offerlist.job_details }}</p>
  <p>提示金額 : {{ offerlist.offer_amount }}</p>
  <p>会社名 : {{ offerlist.recruiter.company_name }}</p>
    <p>担当者名 : {{ offerlist.recruiter.user.username }}</p>
  <p>勤務地 : {{ offerlist.work_location }}</p>
  <p>期間 : {{ offerlist.work_period }}</p>
  <p>雇用形態 : {{ offerlist.Employment_status }}</p>
  <p>案件発生日 : {{ offerlist.date_offered }}</p>
  <p>応募期限 : {{ offerlist.reply_deadline }}</p>

</div>

    <form class="my-form" action="{% url 'notification:apply_save' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="offer_list" value="{{ offerlist.id }}">
        <div class="form-group">
            <div>
                <input type="hidden" name="apply_offer" value="応募する">
                <input type="submit" class="btn btn-default" value="応募する">
            </div>
        </div>

    </form>

    <form class="my-form" action="{% url 'notification:apply_save' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="offer_list" value="{{ offerlist.id }}">
        <div class="form-group">
            <div>
                <input type="hidden" name="apply_offer" value="辞退する">
                <input type="submit" class="btn btn-default" value="辞退する">
            </div>
        </div>

    </form>
    <p><a class="btn btn-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a></p>

{% endblock %}